.fondo {
    background-color: black;
    color: blanchedalmond;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.jumbocontainer {
display: grid;
grid-template-columns: 40% 40%;
 padding: 10px;
justify-content: center;
align-content: center;
gap: 2px;
text-overflow: clip;
flex-direction: row;
grid-auto-flow: row;
@media (min-width: 600px) {
    .jumbocontainer {
        grid-template-columns: 1fr 350px 350px 1fr;
    }
}
}
.jumbocontent {
    background-color: darksalmon;
    border: 3px solid rgb(223, 217, 217);
    padding: 20px;
    font-size: 33px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: break-word;
    font-weight: bold;
    
}
.jumbotext {
    border: 1px solid red;
    padding: 20px;
    font-size: 23px;
    text-align: left;
    color: bisque;
font-family: 'Courier New', Courier, monospace;
}

.jumbotitle{
    background-color: rgb(117, 30, 30);
    color: blanchedalmond;
    border: 3px solid rgb(226, 226, 226);
    padding: 20px;
    display: grid;
   grid-template-columns: auto;
   padding-top: 30px;
   padding-bottom: 30px;
   justify-content: center;
   flex-wrap: wrap;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: bold;
}

.jumbosubscribe {
    display: grid;
grid-template-columns: 40%;
 padding: 5px;
flex-wrap: wrap;
justify-content: center;
align-content: center;
background-color: rgb(39, 39, 39);
flex-direction: row;
grid-auto-flow: row;
}
.titulos{
    background-color: rgb(156, 21, 21);
    color: blanchedalmond;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 20px;
    display: grid;
   grid-template-columns: 40%;
   padding-top: 30px;
   padding-bottom: 30px;
   justify-content: center;
   text-align: center;
   flex-wrap: wrap;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: bold;
}

.detallescard {
    color: black;
}
.titulodecard {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}
.extraestilo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: brown;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    gap: 20px;
    border: 3px solid white;
    font-size: 20px;
}

footer {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    text-align: center;
    padding: 10px;
    background-color: DarkSalmon;
    color: white;
  }